version: "3.9"

services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  web:
      build: .
      ports:
        - "8080:8080"
      depends_on:
        - db
      environment:
        DATABASE_custom: "False"  # ローカルではコンテナのDBを使うよう強制
        SECRET_KEY: "${SECRET_KEY}"
        ALLOWED_HOSTS: ${ALLOWED_HOSTS}
        # DB接続情報（HOSTを'db'に合わせる）
        DATABASE_URL: "postgres://postgres:postgres@db:5432/postgres"
      command: sh -c "./start.sh"

