version: "3.9"

services:
  web:
    build: .
    ports:
      - "8080:8080"
    environment:
      # Neonが出してくる接続文字列をそのまま入れるのが安全
      # 例: postgres://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require

      # Django起動に必要
      SECRET_KEY: "${SECRET_KEY}"
      CREATE_SUPERUSER: "${CREATE_SUPERUSER}"
      DJANGO_SUPERUSER_EMAIL: "${DJANGO_SUPERUSER_EMAIL}"
      DJANGO_SUPERUSER_PASSWORD: "${DJANGO_SUPERUSER_PASSWORD}"
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}

      # （任意）gunicorn worker数
      WEB_CONCURRENCY: "2"


    command: sh -c "./start.sh"
