boto3==1.34.162
requests==2.32.3
Pillow==10.4.0
numpy==1.26.4
scipy==1.14.1

opencv-python-headless==4.10.0.84
PyYAML==6.0.3
tqdm==4.67.3
psutil==7.2.2
py-cpuinfo==9.0.0
thop==0.1.1.post2209072238

# 余計な重さを避けたいなら、pandas/seaborn/matplotlibは一旦外してOK（推論だけなら不要なことが多い）
# 必要なら後で足す

# --- 必須（インポートに必要） ---
matplotlib==3.9.2



# --- 準必須（エラー回避のため推奨） ---
pandas==2.2.2
